<!DOCTYPE html>
<html lang="en" style="overflow-y: auto;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{{ url_for('static', filename='resources/img/icono_opt.jpg') }}">

    <title>Networking Utilities</title>

    <link href="{{ url_for('static', filename='resources/font-awesome/css/all.css') }}" rel="stylesheet"> <!--load all styles -->
    <link href="{{ url_for('static', filename='css/bulma.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/app.css') }}" rel="stylesheet">

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
</head>
<body>
    <section id="particles-js" class="hero is-fullheight">
        <div class="hero-body">
            <div class="container">
                <h1 id="mainTitle" class="title">
                    Networking Utilities
                </h1>
                <h2 id="author" class="subtitle">
                    By Héctor Rodríguez
                </h2>
            </div>
        </div>
        <div id="arrow-container">
            <div id="arrow-div">
                <i class="fas fa-arrow-down"></i>
            </div>
        </div>
    </section>
    <section id="mainSection" class="hero">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    All projects
                </h1>
                <h2 class="subtitle">
                    Here you can find the list of all project I've done
                </h2>
                <div style="display: flex;">
                    <article class="message" style="max-width: 300px;">
                        <div class="message-header">
                            <p>Network Scanner</p>
                            <a href="/networkScanner" class="button">
                                <span>Visit</span>
                                <span class="icon is-small">
                                    <i class="fas fa-arrow-right"></i>
                                </span>
                            </a>
                        </div>
                        <div class="message-body">
                            Tool for scanning the connected network, getting all IPs, MACs and manufacturers of all devices connected.
                        </div>
                    </article>
                    <article class="message" style="max-width: 300px;">
                        <div class="message-header">
                            <p>Network - Host</p>
                            <a href="/networkHost" class="button">
                                <span>Visit</span>
                                <span class="icon is-small">
                                    <i class="fas fa-arrow-right"></i>
                                </span>
                            </a>
                        </div>
                        <div class="message-body">
                            Tool for getting the Network and Host parts of IP with the subnet mask.
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
</body>

<!-- scripts -->
<script src="{{ url_for('static', filename='js/particles.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>

</html>