<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{{ url_for('static', filename='resources/img/icono_opt.jpg') }}">

    <title>Networking Utilities</title>

    <link href="{{ url_for('static', filename='resources/font-awesome/css/all.css') }}" rel="stylesheet"> <!--load all styles -->
    <link href="{{ url_for('static', filename='css/bulma.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/app.css') }}" rel="stylesheet">

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation" style="background-color: #2F2441">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img style="width: auto; max-height: 2.75rem;" 
                    src="{{ url_for('static', filename='resources/img/icono_opt.jpg') }}" alt="Logo" 
                    width="112" height="28">
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a href="/" class="navbar-item" style="font-size: 1.3rem; text-transform: uppercase;
                        font-weight: 500; padding-left: 0px; color: white;">
                        Home
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <section id="mainSection" class="hero">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Network - Host utility
                </h1>
                <h2 class="subtitle">
                    Get information about the Network/Host
                </h2>
                <div class="field is-grouped">
                    <div class="field" style="margin-right: 25px;">
                        <label class="label">IPv4 Address</label>
                        <div class="control">
                            <input id="ip-input" class="input" type="text" placeholder="192.168.0.1" value="192.168.10.10">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Subnet mask</label>
                        <div class="control">
                            <input id="subnet-input" class="input" type="text" placeholder="255.255.255.0 or /24" value="/24">
                        </div>
                    </div>
                </div>
                <a id="getInfo-btn" class="button is-dark">Get info</a>
            </div>
        </div>
    </section>
    <div id="info-div"></div>
</body>
<script>

var infoDiv = $("#info-div");

$("#getInfo-btn").click(function () {
    var ip = $("#ip-input").val();
    var subnet = $("#subnet-input").val();

    var ipParts = ip.split(".");
    var binaryIp = "";

    for (var i = 0; i<ipParts.length; i++) {
        binaryIp += getBinary(parseInt(ipParts[i]));
        if (i < ipParts.length-1) binaryIp += ".";
    }

    if (subnet[0] != "/") subnet = getSubnetFormatted(subnet);

    var subnetData = getSubnet(subnet);
    var subnetFormated = subnetData[0];
    var binarySubnet = subnetData[1];

    var network = getNetwork(ip, subnetFormated);
    var binaryNetwork = "";
    var networkParts = network.split(".");
    for (var i = 0; i<networkParts.length; i++) {
        binaryNetwork += getBinary(parseInt(networkParts[i]));
        if (i < networkParts.length-1) binaryNetwork += ".";
    }

    var broadcastData = getBroadcast(binaryNetwork, binarySubnet);
    var broadcast = broadcastData[0];
    var binaryBroadcast = broadcastData[1];

    var data = `
    <section class="hero is-light" style="margin: 20px;">
        <div class="hero-body" style="padding: 1.5rem;">
            <div class="container">
                <h1 class="title">
                    ` + ip + subnet + `
                </h1>
                <h2 class="subtitle">
                    ` + subnetFormated + `
                </h2>
                <div>
                    <span class="info-network">Network address:</span>
                    <span>` + network + `</span>
                </div>
                <div>
                    <span class="info-network">Broadcast address:</span>
                    <span>` + broadcast + `</span>
                </div>
                <div style="margin-top: 12px;">
                    <span class="info-network">Binary ip:</span>
                    <span>` + binaryIp + `</span>
                </div>
                <div>
                    <span class="info-network">Binary subnet:</span>
                    <span>` + binarySubnet + `</span>
                </div>
                <div>
                    <span class="info-network">Binary network:</span>
                    <span>` + binaryNetwork + `</span>
                </div>
                <div>
                    <span class="info-network">Binary broadcast:</span>
                    <span>` + binaryBroadcast + `</span>
                </div>
            </div>
        </div>
    </section>
    `;

    infoDiv.prepend(data);
});

function getBinary(n) {
    var preN = n.toString(2);
    var res = "";
    for (var i = 0; i < 8-preN.length; i++) res += "0";
    res += preN;
    return res;
}

function getDec(binary) {
    var dec = "";
    var cont = 0;
    binary.split(".").forEach(bin => {
        dec += parseInt(bin, 2);
        cont++;
        if (cont < 4) dec += ".";
    });
    return dec;
}

function getSubnetFormatted(subnet) {
    var subnetParts = subnet.split(".");
    var binarySubnet = "";
    for (var i = 0; i<subnetParts.length; i++) {
        binarySubnet += getBinary(parseInt(subnetParts[i]));
        if (i < subnetParts.length-1) binarySubnet += ".";
    }
    var cont = 0;
    for (var i = 0; i<binarySubnet.length; i++) {
        if (binarySubnet[i] == "1") cont++;
    }
    return "/" + cont;
}

function getSubnet(subnetStr) {
    var preSub = parseInt(subnetStr.slice(1, subnetStr.length));

    var subnet = "";
    var cont = 0;

    for (var i = 0; i<preSub; i++) {
        subnet += "1";
        cont++;
        if (cont == 8 && i < 32-1) {
            cont = 0;
            subnet += ".";
        }
    }

    for (var i = preSub; i<32; i++) {
        subnet += "0";
        cont++;
        if (cont == 8 && i < 32-1) {
            cont = 0;
            subnet += ".";
        }
    }

    return [getDec(subnet), subnet];
}

function getNetwork(ip, subnet) {
    var partsIp = ip.split(".");
    var partsSubnet = subnet.split(".");
    var network = "";
    for (var i = 0; i < partsIp.length; i++) {
        network += parseInt(partsIp[i]) & parseInt(partsSubnet[i]);
        if (i < partsIp.length - 1) network += ".";
    }
    return network;
}

function getBroadcast(bN, bS) {
    var broadcast = "";
    for (var i = 0; i < bS.length; i++) {
        if (bS[i] == ".") broadcast += ".";
        else if (bS[i] == "1") broadcast += bN[i];
        else broadcast += "1";
    }
    return [getDec(broadcast), broadcast];
}

</script>
</html>