<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{{ url_for('static', filename='resources/img/icono_opt.jpg') }}">

    <title>Networking Utilities</title>

    <link href="{{ url_for('static', filename='resources/font-awesome/css/all.css') }}" rel="stylesheet"> <!--load all styles -->
    <link href="{{ url_for('static', filename='css/bulma.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/app.css') }}" rel="stylesheet">

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/p5.js') }}"></script>
</head>
<style>
    #diagram-menu {
        width: 400px;
        height: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        transform: translateX(-350px);
        transition: all 0.5s;
    }
    #diagram-options {
        width: 350px;
        background-color: #363636;
        height: 100%;
    }
    #diagram-show-menu {
        width: 50px;
        background-color: #363636;
        height: 50px;
        border-radius: 0px 50px 50px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        opacity: 0;
        transition: all 0.2s;
    }
    #diagram-show-menu:hover {
        opacity: 1;
    }
    #diagram-show-menu i {
        transition: all 0.2s;
    }
    .device-container {
        width: 100%;
        background-color: white;
        border-radius: 5px;
        padding: 10px;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .device-icon {
        cursor: pointer;
        height: 40px;
        filter: opacity(0.5);
    }
    #diagram-properties {
        width: 150px;
        height: 50px;
        background-color: #363636;
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mouse-container {
        width: 50px;
        color: gray;
        font-size: 20px;
        text-align: center;
        cursor: pointer;
        transition: all 0.2s;
    }
</style>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation" style="background-color: #2F2441">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img style="width: auto; max-height: 2.75rem;" 
                    src="{{ url_for('static', filename='resources/img/icono_opt.jpg') }}" alt="Logo" 
                    width="112" height="28">
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a href="/" class="navbar-item" style="font-size: 1.3rem; text-transform: uppercase;
                        font-weight: 500; padding-left: 0px; color: white;">
                        Home
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <section id="mainSection" class="hero">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Subnetting
                </h1>
                <h2 class="subtitle">
                    Get the subnets table from a given network topology.
                </h2>
                <div class="field is-grouped">
                    <div class="field" style="margin-right: 25px;">
                        <label class="label">IPv4 Address</label>
                        <div class="control">
                            <input id="ip-input" class="input" type="text" placeholder="192.168.0.1" value="172.16.0.0">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Subnet mask / Network size</label>
                        <div class="control">
                            <input id="subnet-input" class="input" type="text" placeholder="255.255.255.0 or /24" value="/26">
                        </div>
                    </div>
                </div>
                <a id="openDiagram-btn" class="button is-link">Open diagram</a>
                <a id="subnet-btn" class="button is-dark">Subnet!</a>
            </div>
        </div>
    </section>
    <section class="hero is-light">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Requirements</h1>
                <label class="label req-title-label">Network</label>
                <div class="field is-grouped" style="margin-bottom: 0px;">
                    <div class="field" style="margin-right: 25px;">
                        <label class="label req-label">Address</label>
                        <p class="req-field"></p>
                    </div>
                    <div class="field">
                        <label class="label req-label">Class</label>
                        <p class="req-field"></p>
                    </div>
                </div>
                <div class="field">
                    <label class="label req-label">Total # subnets</label>
                    <p class="req-field" style="width: 200px;"></p>
                </div>
                <table class="table is-bordered" style="margin-top: 30px;">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>SubNetID</th>
                            <th>Range</th>
                            <th>BroadCast</th>
                        </tr>
                    </thead>
                    <tbody id="subnetTable">
                        
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <div id="diagram-div" class="modal is-active">
        <div class="modal-background"></div>
        <div class="modal-content" style="width: max-content;">
            <div id="diagram-menu">
                <div id="diagram-options">
                    <section class="hero is-dark">
                        <div class="hero-body">
                            <h1 class="title">
                                Options
                            </h1>
                            <h2 class="subtitle">
                                ¿What do you want to insert?
                            </h2>
                            <h2 class="subtitle" style="margin-bottom: 10px;">
                                Intermediary Devices
                            </h2>
                            <div id="intermediary-container" class="device-container">
                                <img class="device-icon" id="router" src="{{ url_for('static', filename='resources/img/router.png') }}">
                            </div>
                            <h2 class="subtitle" style="margin-bottom: 10px; margin-top: 25px;">
                                End Devices
                            </h2>
                            <div id="intermediary-container" class="device-container">
                                <img class="device-icon" id="router2" src="{{ url_for('static', filename='resources/img/router.png') }}">
                            </div>
                            <h2 class="subtitle" style="margin-bottom: 10px; margin-top: 25px;">
                                Media Types
                            </h2>
                            <div id="intermediary-container" class="device-container">
                                <img class="device-icon" id="serial" src="{{ url_for('static', filename='resources/img/serial.png') }}">
                            </div>
                        </div>
                    </section>
                </div>
                <div id="diagram-show-menu">
                    <i class="fas fa-chevron-right" style="color: white;
                        font-size: 25px;"></i>
                </div>
            </div>
            <div id="diagram-container" style="width: 1280px; height: 600px;"></div>
            <div id="diagram-properties">
                <div class="mouse-container" id="c-pointer" style="color: white"><i class="fas fa-mouse-pointer"></i></div>
                <div class="mouse-container" id="c-plus"><i class="fas fa-plus"></i></div>
                <div class="mouse-container" id="c-eraser"><i class="fas fa-eraser"></i></div>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
</body>
<script>

var diagramDiv = $("#diagram-div");
var cPointer = $("#c-pointer");
var cPlus = $("#c-plus");
var cEraser = $("#c-eraser");
var menuActive = false;
var cursorType = "default";
var deviceSelected = "";

$("#openDiagram-btn").click(function () {
    var ip = $("#ip-input").val();
    var subnet = $("#subnet-input").val();
    diagramDiv.addClass("is-active");
    $("html").addClass("is-clipped");
});

$(".modal-close").click(function () {
    $(this).parent().removeClass("is-active");
    $("html").removeClass("is-clipped");
});

$(".mouse-container").click(function () {
    var id = $(this).attr("id");
    cPointer.css("color", "gray");
    cPlus.css("color", "gray");
    cEraser.css("color", "gray");
    if (id == "c-pointer") {
        cPointer.css("color", "white");
        cursorType = "default";
    }
    if (id == "c-plus") {
        cPlus.css("color", "white");
        cursorType = "plus";
    }
    if (id == "c-eraser") {
        cEraser.css("color", "white");
        cursorType = "erase";
    }
});

$(".device-icon").click(function () {
    var id = $(this).attr("id");
    deviceSelected = id;
    $(".device-icon").each(function () {
        if ($(this).attr("id") == id)
            $(this).css("filter", "opacity(1)");
        else
            $(this).css("filter", "opacity(0.5)");
    });
});

$("#diagram-show-menu").click(function () {
    if ($("#diagram-menu").css("transform") == "matrix(1, 0, 0, 1, -350, 0)") {
        $("#diagram-menu").css("transform", "translateX(0px)");
        $("#diagram-show-menu i").css("transform", "rotate(180deg)");
        menuActive = true;
    } else {
        $("#diagram-menu").css("transform", "translateX(-350px)");
        $("#diagram-show-menu i").css("transform", "rotate(0deg)");
        setTimeout(function(){ menuActive = false; }, 500);
    }
});

var wanLinks = [];

$("#subnet-btn").click(function () {
    wanLinks = [];
    devices.forEach(device => {  
        if (device.device) {
            Object.keys(device.device.interfaces).forEach((key) => {
                if (device.device.interfaces[key] && 
                    device.device.interfaces[key].origin && device.device.interfaces[key].destination) {
                        if (!wanLinks.includes(device.device.interfaces[key])) 
                            wanLinks.push(device.device.interfaces[key]);
                    }
            });
        }
    });
    subnet();
});

function subnet() {
    var subnets2Find = {};
    wanLinks.forEach(wan => {
        if (2 in subnets2Find) {
            subnets2Find.push(wan);
        } else {
            subnets2Find[2] = [wan];
        }
    });
    // Order the elements from highest to lowest
    if (subnets2Find != {}) {
        var ip = $("#ip-input").val();
        var subnet = $("#subnet-input").val();

        var ipParts = ip.split(".");
        var binaryIp = "";

        for (var i = 0; i<ipParts.length; i++) {
            binaryIp += getBinary(parseInt(ipParts[i]));
            if (i < ipParts.length-1) binaryIp += ".";
        }

        var subnetData = getSubnet(subnet);
        var subnetFormated = subnetData[0];
        var binarySubnet = subnetData[1];

        console.log(ip);
        console.log(binaryIp);
        console.log(subnetFormated);
        console.log(binarySubnet);

        // After groupping

        /*subnets2Find.forEach(s => {
            var hostBitsReq = getHostBits(s[0]);
            var newNetSize = 32 - hostBitsReq;
            var newSubnet = "/" + newNetSize;

            var newSubnetData = getSubnet(newSubnet);
            var newSubnetFormated = newSubnetData[0];
            var newBinarySubnet = newSubnetData[1];

            var allNewSubnets = getAllSubnets(binaryIp, binarySubnet, newBinarySubnet);

            for (let i = 0; i < allNewSubnets.length; i++) {
                const sub = allNewSubnets[i];
                var result = `
                    <tr>
                        <th>`+i+`</th>
                        <td>`+getDec(sub)+`</td>
                        <td></td>
                        <td></td>
                    </tr>
                `;
                $("#subnetTable").append(result);   
            }

            console.log(s[1].origin.name + ": " + s[0] + " -> " + hostBitsReq + "  hosts");
            console.log(newSubnet);
            console.log(newSubnetFormated);
            console.log(newBinarySubnet);
            //console.log(allNewSubnets);
        });*/
    }
}

function getHostBits(size) {
    var i = 2;
    var cont = 1;
    while (i-2 < size) {
        i *= 2;
        cont++;
    }
    return cont;
}

function getAllSubnets(originalAddr, bSub, bNSub) {
    var parts = ["", ""];
    var partsOriginal = ["", ""];
    var changePart = "";
    var flag = false;
    var adding = false;
    for (let i = 0; i<bSub.length; i++) {
        if (bSub[i] != bNSub[i]) {
            changePart += bSub[i];
            flag = true;
            adding = true;
        } else {
            if (bSub[i] != ".") {
                if (flag) {
                    parts[1] += bSub[i];
                    partsOriginal[1] += originalAddr[i];
                }
                else {
                    parts[0] += bSub[i];
                    partsOriginal[0] += originalAddr[i];
                }
                adding = false;
            } else if (adding) {
                changePart += bSub[i];
            }
        }
    }

    console.log(parts);
    console.log(partsOriginal);
    console.log(changePart);
    
    var subs = [];

    var bitsToChange = changePart.split(".");

    subsPreFormatted = [];
    getNextSubnet(0, bitsToChange, "");
    //console.log(preSubs);

    subsPreFormatted.forEach(preSub => {
        var almostIP = partsOriginal[0] + preSub + partsOriginal[1];
        console.log(almostIP);
        subs.push(getIP(almostIP));
    });

    return subs;
}

var subsPreFormatted = [];

function getNextSubnet(index, arr, fullPart) {
    var vals = [ parseInt(arr[index], 2), parseInt(arr[index].replace(/0/g, '1'), 2) ];
    //console.log("vals: ");
    //console.log(vals);
    for (let i = vals[0]; i <= vals[1]; i++) {
        var actPart = getBinary(i, arr[index].length);
        var tempSize = fullPart + actPart;
        //console.log("i: " + i + ", arr[index]: " + arr[index] + ", actPart: " + actPart);
        if (index + 1 < arr.length) {
            getNextSubnet(index + 1, arr, tempSize);
            //console.log("Exit recursivity");
        } else {
            //console.log("final: " + tempSize);
            subsPreFormatted.push(tempSize);
        }
    }
}

function getDec(binary) {
    var dec = "";
    var cont = 0;
    binary.split(".").forEach(bin => {
        dec += parseInt(bin, 2);
        cont++;
        if (cont < 4) dec += ".";
    });
    return dec;
}

function getBinary(n, tam=8) {
    var preN = n.toString(2);
    var res = "";
    for (var i = 0; i < tam-preN.length; i++) res += "0";
    res += preN;
    return res;
}

function getIP(string) {
    var chuncks = string.match(/.{1,8}/g);
    return chuncks.join(".");
}

function getSubnet(subnetStr) {
    var preSub = parseInt(subnetStr.slice(1, subnetStr.length));

    var subnet = "";
    var cont = 0;

    for (var i = 0; i<preSub; i++) {
        subnet += "1";
        cont++;
        if (cont == 8 && i < 32-1) {
            cont = 0;
            subnet += ".";
        }
    }

    for (var i = preSub; i<32; i++) {
        subnet += "0";
        cont++;
        if (cont == 8 && i < 32-1) {
            cont = 0;
            subnet += ".";
        }
    }

    return [getDec(subnet), subnet];
}

var maxTamCanvas = [ 1280, 600 ];
var deviceIcons = {};

class Router {
    constructor(name) {
        this.name = name;
        this.interfaces = {
            'g0/0': null,
            'g0/1': null,
            's0/0': null,
            's0/1': null,
            's1/0': null,
            's1/1': null,
        }
    }

    getNextFreeInterface(type) {
        var available = null;
        const keys = Object.keys(this.interfaces);
        for (const key of keys) {
            if (!this.interfaces[key] && key.startsWith(type)) {
                available = key;
                break;
            }
        }
        return available;
    }
}

class Interface {
    constructor(origin, originInterface) {
        this.origin = origin;
        this.originInterface = originInterface;
        this.destination = null;
        this.destinationInterface = null;
    }
}

class Device {
    constructor(name, type, image, position, fixedPosition, size) {
        this.name = name;
        this.device = null;
        this.type = type;
        this.image = image;
        this.position = position;
        this.fixedPosition = fixedPosition;
        this.size = size;
        if (type == "router") {
            this.device = new Router(name);
        }
    }

    clicked() {
        if (mouseX >= this.fixedPosition[0] && mouseX <= this.fixedPosition[0] + this.size[0] &&
            mouseY >= this.fixedPosition[1] && mouseY <= this.fixedPosition[1] + this.size[1])
            if (cursorType == "erase") {
                var interfaces = this.device.interfaces;
                Object.keys(interfaces).forEach((key) => {
                    if (interfaces[key]) {
                        var int = interfaces[key];
                        int.origin.device.interfaces[int.originInterface] = null;
                        int.destination.device.interfaces[int.destinationInterface] = null;
                    }
                });
                var index = devices.indexOf(this);
                if (index > -1) {
                    devices.splice(index, 1);
                }
            }
            else if (cursorType == "plus") {
                if (deviceSelected == "serial") {
                    var freeInterface = this.device.getNextFreeInterface("s");
                    if (freeInterface) {
                        if (addedFirstInterface) {
                            addedFirstInterface[0].device.interfaces[addedFirstInterface[1]].destination = this;
                            addedFirstInterface[0].device.interfaces[addedFirstInterface[1]].destinationInterface = freeInterface;
                            this.device.interfaces[freeInterface] = addedFirstInterface[0].device.interfaces[addedFirstInterface[1]];
                            addedFirstInterface = null;
                        } else {
                            if (this.device) {
                                this.device.interfaces[freeInterface] = new Interface(this, freeInterface);
                                addedFirstInterface = [ this, freeInterface ];
                            }
                        }
                    } else {
                        alert("There are no available interfaces in " + this.name);
                    }
                }
            }
    }
}

var devices = [];
var addedFirstInterface = null;

function setup() {
    var myCanvas = createCanvas(maxTamCanvas[0], maxTamCanvas[1]);
    myCanvas.parent("diagram-container");
    angleMode(DEGREES);
    loadDeviceIcons();
}

function draw() {
    clear();
    background(255);
    drawTempLines();
    drawDevices();
    setCursor();
}

function setCursor() {
    if (cursorType == "default") cursor('default');
    if (cursorType == "plus") cursor('crosshair');
    if (cursorType == "erase") cursor('not-allowed');
}

function loadDeviceIcons() {
    deviceIcons['router'] = loadImage("{{ url_for('static', filename='resources/img/router.png') }}");
}

function drawDevices() {
    push();
    devices.forEach(device => {  
        if (device.device) {
            Object.keys(device.device.interfaces).forEach((key) => {
                if (device.device.interfaces[key] && 
                    device.device.interfaces[key].origin && device.device.interfaces[key].destination) {
                    stroke(255,0,0);
                    strokeWeight(5);
                    line(
                        device.device.interfaces[key].origin.position[0], 
                        device.device.interfaces[key].origin.position[1], 
                        device.device.interfaces[key].destination.position[0], 
                        device.device.interfaces[key].destination.position[1]
                    );
                    fill(255);
                    textSize(12);
                    textAlign(CENTER, CENTER);
                    text(device.device.interfaces[key].originInterface + " - " + device.device.interfaces[key].destinationInterface, 
                        (device.device.interfaces[key].origin.position[0] + device.device.interfaces[key].destination.position[0]) / 2,
                        (device.device.interfaces[key].origin.position[1] + device.device.interfaces[key].destination.position[1]) / 2
                    );
                }
            });
        }
    });
    pop();
    push();
    devices.forEach(device => {  
        image(device.image, device.fixedPosition[0], device.fixedPosition[1], 
            device.size[0], device.size[1]);
        fill(64);
        textSize(20);
        textAlign(CENTER, CENTER);
        text(device.name, device.position[0], device.position[1] + device.size[1]);
        
    });
    pop();
}

function drawTempLines() {
    if (addedFirstInterface) {
        push();
        stroke(255,0,0);
        strokeWeight(5);
        line(addedFirstInterface[0].position[0], addedFirstInterface[0].position[1], mouseX, mouseY);
        pop();
    }
}

function mouseClicked() {
    if (menuActive) {
        if (mouseX > 400 && (mouseX < 1130 || mouseY < 550)) {
            clickEvent();
        }
    } else {
        if (mouseX > 50 && (mouseX < 1130 || mouseY < 550)) {
            clickEvent();
        }
    }
}

function clickEvent() {
    if (cursorType == "plus" && deviceSelected != "") {
        if (deviceSelected == "router") {
            var name = getNextName("R");
            devices.push(new Device(name, "router", deviceIcons[deviceSelected], 
                [mouseX, mouseY], [mouseX-33, mouseY-24], [66, 48]));
        }
        if (deviceSelected == "serial") {
            devices.forEach(device => {
                device.clicked();
            });
        }
    }
    else {
        devices.forEach(device => {
            device.clicked();
        });
    }
}

function getNextName(prefix) {
    var index = 0;
    while (true) {
        var match = false;

        for (let i = 0; i < devices.length; i++) {
            if (devices[i].name == prefix+index) {
                match = true;
                break;
            }
        }
        
        if (!match) return prefix + index;
        index++;
    }
    
}

</script>
</html>